
#login{ 
	padding: 20px;
	display: block;
	position: fixed;
	top: 10px;
	right:10px;
}
button{
	background-color: transparent;
	border: none;
	font-size: 30px;
	font-family: "Playfair Display";
}

h1, h2, a, p{
	font-family: "Playfair Display";
}
.pointer {cursor: pointer;}
